@page
@model HybridModel
@{
    ViewData["Title"] = "Hybrid Data";
}

<div class="text-center">
    <h1 class="display-4">Hybrid Data</h1>
    <div>
        Hybrid Request Message: @Model.HybridMessage
        <br>
        Test: @ViewData["HybridMessage"]
    </div>
</div>